@import "../../fonts/font.css";

html, body {
    color: #333;
    font-size: 16px;
    line-height: 20px;
    font-family: MuseoSansRounded, sans-serif;
    font-weight: 500;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #F8F8F8;
}

header {
    height: 220px;
    background-color: #F8F8F8;
    margin: 0;
}

.resume {
    width: 794px;
    height: 1122px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background: #FFFFFF;
    margin: -120px auto 100px auto;
    box-sizing: border-box;
    padding: 48px;
}

.text-xs {
    font-size: 12px;
    line-height: 16px;
}

.text-s {
    font-size: 14px;
    line-height: 18px;
}

.text-m {
    font-size: 16px;
    line-height: 20px;
}

.text-l {
    font-size: 20px;
    line-height: 26px;
}

.bold {
    font-weight: 700;
}

.color-dark {

}

.color-normal {
    color: #333;
}

.color-light {
    color: #656D78;
}

.color-extralight {

}

.align-justify {
    text-align: justify;
}

.header-button {
    text-decoration: none;
    color: #333;
    opacity: 0.75;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
}

.header-button:hover {
    opacity: 1;
}

.header-buttons {
    margin: 0 auto;
    width: 794px;
    padding-top: 60px;
    text-align: right;
}



/* =====================================================================================================================
Styles for person's photo, name and details
===================================================================================================================== */

.person__photo {
    width: 64px;
    height: 64px;
    background-color: #FFF;
    background-image: url("../img/ketan_square.png");
    background-size: cover;
    border-radius: 3px;
    display: inline-block;
}

.person__details {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}

.person__details--name {
    margin-bottom: 4px;
    margin-top: 2px;
}



/* =====================================================================================================================
Styles for the intro line
===================================================================================================================== */

.intro-line {
    margin-top: 24px;
    margin-bottom: 24px;
}



/* =====================================================================================================================
Styles for the main content
===================================================================================================================== */

.column-layout {
    display: flex;
    flex-direction: row;
}

.column-language {
    flex: 1;
}

.column {
    flex: 1;
    height: 780px;
}

.column + .column {
    margin-left: 36px;
}

.section-title {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-spacer {
    height: 20px;
}

section + section {
    margin-top: 48px;
}

.language + .language {
    margin-top: 12px;
}

.technologies {
    text-align: justify;
    margin-right: -16px;
}

.technology {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-right: 16px;
}


/* =====================================================================================================================
Styles for contact footer
===================================================================================================================== */

.footer {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}

.footer-column {
}

.footer-column + .footer-column {
    margin-left: 48px;
}

.footer-text {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.footer-label {
    font-size: 12px;
    color: #656D78;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
}

.social-icons {
    vertical-align: middle;
    text-align: right;
    flex: 1;
}

.social-icons a {
    text-decoration: none;
}

.social-icons .fa {
    font-size: 20px;
    line-height: 32px;
    margin-left: 12px;
    color: #656D78;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear ;
    -ms-transition: 0.1s all linear ;
    -o-transition: 0.1s all linear ;
    transition: 0.1s all linear ;
    cursor: pointer;
}

.social-icons .fa:hover {
    color: #673AB7;
}

.footer-column a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear ;
    -ms-transition: 0.1s all linear ;
    -o-transition: 0.1s all linear ;
    transition: 0.1s all linear ;
}

.footer-column a:hover {
    color: #673AB7;
}


/* =====================================================================================================================
Styles for printing the resume
===================================================================================================================== */

@media print {
    html, body {
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden;
    }

    #print-area, #print-area * {
        visibility: visible;
    }

    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        border: none;
    }
}